body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.box-2 {
  width: 500px;
  height: 500px;
  background-color: rgb(2, 23, 23);
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.box {
  width: 50px;
  height: 50px;
  animation-name: moveWithPauses;
  animation-duration: 4000ms; 
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes moveWithPauses {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(450px, 0); 
  }
  25% {
    transform: translate(450px, 0); 
  }
  45% {
    transform: translate(450px, 450px); 
  }
  50% {
    transform: translate(450px, 450px); 
  }
  70% {
    transform: translate(0, 450px); 
  }
  75% {
    transform: translate(0, 450px); 
  }
  95% {
    transform: translate(0, 0); 
  }
  100% {
    transform: translate(0, 0); 
  }
}